[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = { extras = ["pipfile"], version = "*" }
jedi = "*"

[packages]
docopt = "*"
gast = "==0.2.2"  # Lock version due to breaking changes
h5py = "*"
imageio = "*"
matplotlib = "*"
numpy = "==1.16.4"  # Lock due to annoying deprecation warnings
opencv-python = "*"
pandas = "*"
pyyaml = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
tensorflow-gpu = "==2.0.0-beta1"
tensorflow-hub = "*"
tqdm = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
