[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = { extras = ["pipfile"], version = "*" }
jedi = "*"
rope = "*"

[packages]
docopt = "*"
gast = "*"
h5py = "*"
imageio = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
pyyaml = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
tensorflow = "==2.2.0"
tensorflow-hub = "*"
tqdm = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
