[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = { extras = ["pipfile"], version = "*" }
jedi = "*"

[packages]
docopt = "*"
h5py = "*"
imageio = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
pyyaml = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
tensorflow-gpu = "==2.0.0a0"
tensorflow-hub = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
